<footer>
<section>
<div class="centraliza_h">

  <div id="footer_infs" class="divisao centraliza_v">

            <p >kkkkkkkkkkkkkvf texto e mais testo muito masis kskkdskdkskdks vamo ler texto teste teste teste</p>

            <ul class="centraliza_h">
                <li>links</li>
                <li>links</li>
                <li>links</li>
                <li>links</li>
                <li>links</li>
            </ul>
  </div>


  <div id="footer_imgs" class="divisao centraliza_v">
<div class="centraliza_h">
    <img src="/img/footer/instagram.ico" alt="Imagem Indisponivel :(" width="10%">
    <img src="/img/footer/twiter.ico" alt="Imagem Indisponivel :(" width="10%">
    <img src="/img/footer/facebook.ico" alt="Imagem Indisponivel :(" width="10%">
    <img src="/img/footer/youtube.ico" alt="Imagem Indisponivel :(" width="10%">
</div>
<button>oiii</button>
  </div>

</div>
</section>
</footer>