<header>
    <div class="page">
        <nav class="page__menu page__custom-settings menu">
          <ul class="menu__list r-list">
            <li class="menu__group"><a href="/" class="menu__link r-link text-underlined">Inicio</a></li>
            <li class="menu__group"><a href="/user/notas" class="menu__link r-link text-underlined">Notas</a></li>
            <li class="menu__group"><a href="/sistema/dados/servidor/banco_de_dados/" class="menu__link r-link text-underlined">Inf BD</a></li>
          </ul>
        </nav>
      </div>      
</header>