<header>
    <div class="page">
        <nav class="page__menu page__custom-settings menu">
          <ul class="menu__list r-list">
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Option #1</a></li>
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Option #2</a></li>
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Option #3</a></li>
          </ul>
        </nav>
      </div>      
</header>