<section>
    <div id="primeira_secao">
<input type="text" value=<%= size %>>
<input type="text" value=<%= id %>>
<input type="text" value=<%= titulo %>>
<input type="text" value=<%= texto %>>
<div>
    <button id="excluirdados" onclick="">excluir</button>
</div>
    </div>
</section>