<%- include('front-end/include_fixo/include_html/head.ejs')%>
</head>
<body>
<%- include('front-end/include_fixo/include_html/componente/header.ejs')%>
<h1>Titulo</h1>
<h2>subtitulo</h2>
<h3>TEXTO H3 Texto h3 texto h3</h3>
<p>Paragrafo PARAGRAFO paragrafo PaRaGrAfO</p>
<%- include('front-end/include_fixo/include_html/componente/footer.ejs')%>
<%- include('front-end/include_fixo/include_html/fim_page.ejs')%>