<%- include('front-end/include_fixo/include_html/head.ejs')%>
<link rel="stylesheet" href="/css/footer/footer.css">
</head>
<body>
<%- include('front-end/include_fixo/include_html/componente/header.ejs')%>
<div class="center-text">
    <h1>Crie e Edite Suas Notas</h1>
    
    <h2>Não esqueça nunca mais</h2>
    </div>
<article class="borda_div flex_vertical_center">

    <img src="/img/index/icon_nota.png" alt="Imagem Indisponivel :(" width="10%">

<div class="borda_div">

<p>
Site desenvolvido para auxiliar você, crie notas para lembrar de datas ou compromissos online
Salve suas notas online para poder ver mais tarde. nao se preoculpe em perde-las, voce sempre as encontrara aqui.
Com a praticidade e simplicidade que você procura, com um sistema leve e seguro, você pode confiar.
</p>

<div class="lista_div">
<ul>

<li>            
<p>Rapidez e praticidade</p>
</li>

<li>
<p>Um sistema de Confiança</p>
</li>

<li>
<p>Acesse de onde quiser</p>
</li>

<li>
<p>Tudo pensando em você</p>
</li>

</ul>
</div>

</div>
</article>



<%- include('front-end/include_fixo/include_html/componente/footer.ejs')%>
<%- include('front-end/include_fixo/include_html/fim_page.ejs')%>