<%- include('front-end/global/include_html/head.ejs')%>
<%- include('front-end/componentes/page_index/menu_superior.ejs')%>

<h1>Titulo</h1>
<h2>subtitulo</h2>
<h3>TEXTO H3 Texto h3 texto h3</h3>
<p>Paragrafo PARAGRAFO paragrafo PaRaGrAfO</p>

<%- include('front-end/global/include_html/footer.ejs')%>