<%- include('front-end/global/include_html/head.ejs')%>
<%- include('front-end/componentes/page_index/menu_superior.ejs')%>

<h1>Titulo2</h1>
<h2>subtitulo</h2>
<h3>h3 a b c d e f g h</h3>
<p>ioioioioioioioioioioioioioioioioioioi</p>

<%- include('front-end/global/include_html/footer.ejs')%>