body {
  margin-top: calc(100% - 90%) !important;
  background-repeat: no-repeat;
  margin: 0px;
  background-image: linear-gradient(#3f6ba5, rgb(194, 107, 197));
  color: white;
  display: flex;
  flex-direction: column;
  font-variant-caps: all-small-caps;
  font-size: large;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

header {
  background-color: #0000006b;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 1%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #0000006b;
    width: 100%;
    position: inherit;
    margin-top: 20%;
}
.primeira_secao {
  background-color: rgb(0 0 0 / 40%);
  display: flex;
  margin-right: 25px;
  border-bottom-left-radius: 20px;
  margin-top: 2em;
  margin-left: 25px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}



.agrupar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}


.hr {
    background-color: rgb(0, 17, 255) !important;
    size: 50em!important;
    width: 80% !important;
    border-radius: 100%;
}


.form {
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.navagrup {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.alinhamento_vertical_central {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.label_inf {
  background: #2a2a2a3d;
  color: black;
  width: max-content;
  height: max-content;
  border-top-color: #7e7e7e;
  border-top-style: solid;
  border-top-width: thin;
  border-right-color: #7e7e7e;
  border-right-style: solid;
  border-right-width: thin;
  border-bottom-color: #7e7e7e;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-left-color: #7e7e7e;
  border-left-style: solid;
  border-left-width: thin;
}
   /*Menu Header*/

/*<li> mouse por cima*/
li.menu__group:hover {
  transform-origin: center;
  display: flex;
  align-items: center;
  text-align: center;
  height: 2em;
  width: calc(100% - 80%);
  background-color: #5b4ed3;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  transition-delay: 0.09s;
  transition-property: unset;
  transition-duration: 0.4s;
  border-bottom-style: outset;
  border-bottom-width: thin;
}

/*<li>*/
li.menu__group {
  transform-origin: center;
  display: flex;
  align-items: center;
  text-align: center;
  height: 2em;
  width: calc(100% - 85%);
  background-color: #574cb5;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  transition-delay: 0.09s;
  transition-property: unset;
  transition-duration: 0.4s;
}

/*<ul>*/
ul.menu__list.r-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 45%);
  contain: layout;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
}

/*<nav>*/
nav.page__menu.page__custom-settings.menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

/*Class div*/
.page {
  width: 100%;
  height: 100%;
}

/*<a> link*/
a.menu__link.r-link.text-underlined {
  text-decoration: none;
  min-width: -webkit-fill-available;
  color: white;
  min-height: -webkit-fill-available;
}

a.menu__link.r-link.text-underlined:hover {
  text-decoration: none;
  min-width: -webkit-fill-available;
  color: #67f0ff;
  min-height: -webkit-fill-available;
}
/*fim estilização menu superior (header)*/

.borda_div {
    margin-top: 5%;
    border-top-color: beige;
    border-top-style: inset;
    border-top-width: thin;
    border-right-color: beige;
    border-right-style: inset;
    border-right-width: thin;
    border-bottom-color: beige;
    border-bottom-style: inset;
    border-bottom-width: thin;
    border-left-color: beige;
    border-left-style: inset;
    border-left-width: thin;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 20px;
    width: 95%;
    height: auto;
    text-align: center;
}

.lista_div {
    color: white;
    margin-top: 4.5em;
    text-align: left;
    color: white;
    border-top-color: beige;
    border-top-style: inset;
    border-top-width: thin;
    margin-top: 4.5em;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00456d 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ff000000;
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: inherit;
  text-decoration-color: #00000017;
}

.flex_vertical_center{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
  align-items: center;
}

main {
  width: 100%;
  text-align: center;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.centraliza_v {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.centraliza_h {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.alinha_left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}
.alinha_right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
}

.width-max {
  width: 100%;
}

.height-max {
  height: 100%;
}
