section {
    display: flex;
    width: 70%;
    margin-top: 20%;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}


div {
    width: 100%;
    height: max-content;
    text-align: center;
}

section {
    width: calc(100% - 20%);
}